body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#spotify-player {
    margin: 100px auto;
    width: 300px;
}

h1 {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    cursor: pointer;
}

#track-info {
    margin-top: 20px;
}

#spotify-player-widget {
    margin-top: 20px;
}
